@keyframes change-color{
    14%{color:red;}
    28%{color:orange;}
    42%{color:rgb(230, 230, 70);}
    56%{color:lightgreen;}
    70%{color:blue;}
    84%{color:blueviolet;}
    100%{color:purple;}
}
h1,{
    animation-name:change-color;
    animation-duration:7s;
    animation-iteration-count:infinite;
}

#center{
    position: absolute;
    left: 25%; 
    background-color: white;
    height:auto;
    width: 50%;
    text-align: center
    }

#pic{
    left: 50%;
}

#noespbutton{
    cursor: pointer;
    box-shadow: 0px 0px 5px #000000;
    width: 200px;
    height: 200px;
    background-image: url(https://i.imgur.com/30dGXur.png);
    background-size: cover;
}
.stitdiv{
    position:relative;
    width:50%;
    left: 25%;
}
#stitp{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background-color: blanchedalmond;
}
.button{
    display: flex;
    position: relative;
    left: 25%;
}
#in{
    font-size: 20px;
}
#sidebar_right{
    position: fixed;
    left: 77.5%;
    width:20%;
    height: 100px;
    background-color: white;
}
#sidebar_left{
    display: flex;
    position: fixed;
    left: 2.5%;
    width:20%;
    height: 100px;
    background-color: white;
}
#fb{
    cursor: pointer;
    box-shadow: 0px 0px 5px #000000;
    width: 50px;
    height: 50px;
    background-image: url(https://www.facebook.com/images/fb_icon_325x325.png);
    background-size: cover;
}
#head{
    margin:0px;
    height:100px;
    line-height:100px;
    text-align:center; 
    font-size:24px;
    color:#fff;
    background:black;
    width: auto;
}
